
html { 
    font-size: 62.5%;
    color: #494C4E;
}

#mainHeader {
    font-size: 2.2em;
    background-color: #fff!important;
    padding-top: 30px;
    padding-bottom: 50px;
}

@media (min-width: 992px) {
    #mainHeader li a:after {
        margin: 0 30px;
        content: '/';
        color: #eee;
        display: inline-block;
    }
    
    #mainHeader li:last-child a:after {
        content: '';
    }
}

.intro-title {
    margin-bottom: 25px;
}

.title-font {
    font-size: 3.5em;
    margin-bottom: 9px;
}  

.intro {
    width: 60.625%;
    float: right;
    text-align: left;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.profile-image {
    width: 33%;
    max-width: 330px;
    float: left;
    border-radius: 50%;
}

#intro {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

p {
    font-size: 1.8em;
    line-height: 1.8em;
    margin-bottom: 0.3em;
}